
<form action='/' method='get'>

	<p  class="center">
		<label for='title' >Movie Title</label>
		<input type='text' name='title' class="resizedTextbox"/>
		

	    <button class="btn btn-success">Search</button>
    </p>
</form>

<hr>

